
html{ background-color: aqua; font-size: 25px; font-style: italic;} 
.title{font-size: 50px;margin-bottom:20px;}
.h1{font-size:30px; margin-bottom:10 px;}
.h2{font-size:25px; font-style: italic;margin-bottom:10px;}
.h3{font-size:20px;} font-style: italic; margin-bottom:10px;}


